<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Website{% endblock title %}</title>
    <!-- CSS and other head elements -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    {% block style %}{% endblock %}    
</head>
<body>
    <header>
        <nav>
            <ul style="display:flex">
                <li><a href="{% url 'core:index' %}" style="margin-right: 20px">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>
