{%extends 'core/base.html'%}

{%block title%} Home {% endblock %}

{% block style %}
    {% load static %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'core/index.css' %}">
{% endblock %}

{% block content %}
<div class='page-blocks'>
    <ul>
        {% if user.is_authenticated and user.role != 'STUDENT' %}
            <li><a href="{% url 'users:users_list' %}">
                {% if request.user.role == 'ADMIN' %}
                    Users
                {% else %}
                    Students
                {% endif %}
                </a></li>
        {% endif %}
        <li><a href="{% url 'lessons:subjects_list' %}">Subjects</a></li>
        <li><a href="{% url 'lessons:group_list' %}">Groups</a></li>
        <li><a href="{% url 'users:teachers_list' %}">Teachers</a></li>
    </ul>
<div>
{% endblock %}
