{% extends "core/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h2>You must set a new password</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.new_password1.label_tag }}<br>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </div>
    <div>
        {{ form.new_password2.label_tag }}<br>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </div>
    <button type="submit">Set Password</button>
</form>
{% endblock %} 