{% extends 'core/base.html' %}
{% block title %}Group List{%endblock%}

{% block content %}

<div style="display:flex; gap:20px;">
    <div>
        <h2>{{ group.name }}</h2>
        <p>Subject: {{ group.subject }}</p>
        <p>Teacher: {{ group.teacher.get_full_name }}</p>
        <P>FEE: {{group.default_payment_amount}}</P>
        <p>Schedule: {{ group.week_days }} {{ group.start_time }} - {{ group.end_time }}</p>
        <p>Dates: {{ group.start_date }} to {{ group.end_date }}</p>
    </div>
    <dib>
        <p>Homework:</p>
        <p>{{ group.homework_description }}</p>
    </div>
</div>

<div style="display:flex; width: 100%; gap: 20px; margin-top: 20px;">
    <div>
        <h3>Students</h3>
        <ul>
            {% for enrollment in enrollments %}
                <li>
                    {{ enrollment.student.get_full_name }} ({{ enrollment.student.username }})
                    {% if not is_student %} - {{ enrollment.payment_amount }}{% endif %}
                    - {{ enrollment.start_date }}
                    {% if enrollment_form is not None %}
                            <a href="{% url 'lessons:enrollment_edit' enrollment.pk %}">Edit</a>
                            <a href="{% url 'lessons:enrollment_delete' enrollment.pk %}">Delete</a>
                    {% endif %}
                    {% if can_manage_payments %}
                        <a href="{% url 'payments:payment_create' enrollment.pk %}">Add payment</a>
                    {% endif %}
                </li>
            {% empty %}
                <li>No students enrolled yet.</li>
            {% endfor %}
        </ul>
    </div>
    {% if enrollment_form %}
    <div>
        <h3>Add student</h3>
        <form method="post">
            {% csrf_token %}
            {{ enrollment_form.as_p }}
            <button type="submit">Add</button>
        </form>
    </div>
    {% endif %}
    <div>
        <a href="{% url 'lessons:exam_list' group.pk %}">View Exams</a>
    </div>
    <div>
        <h3>Payments</h3>
        <ul>
            {% for payment in group.payments.all %}
                <li>
                    {{ payment.student.get_full_name }}
                    - paid: {{ payment.paid_amount }}/{{ payment.expected_amount }}
                    - {{ payment.created_at|date:"Y-m-d H:i" }}
                    {% if can_manage_payments %}
                        <a href="{% url 'payments:payment_edit' payment.pk %}">Edit</a>
                        <a href="{% url 'payments:payment_delete' payment.pk %}">Delete</a>
                    {% endif %}

                </li>
            {% empty %}
                <li>No payments yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{%endblock%}